:root {
	--day-text-color: #252628;
	--day-medium-text-color: #6e7177;
	--day-medium-text-span-color: #494b50;
	--day-medium-color: #e4e5e7;
	--day-light-color: #f2f2f3;
	--day-light-1-color: #fafafa;

	--day-color: #ffffff;
	--blue-color: #4285F4;
}

html,
body {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	font-family: 'Open Sans', sans-serif;
	color: var(--day-text-color);
}

h1 {
	font-weight: 600;
	font-size: 16px;
	letter-spacing: 0.2pt;
	color: var(--day-text-color);
	margin-top: 0px;
	margin-bottom: 0px;
}


/* ---------------------------------------------------------------------------- */
/* -------------------------------- CONTAINER --------------------------------- */
/* ---------------------------------------------------------------------------- */


.container {
	display: flex;
	flex-direction: column;
	position: relative;
	justify-content: flex-start;
	align-items: stretch;
	width: inherit;
	height: inherit;
	min-height: 600px;
	background-color: var(--day-light-1-color);
}


/* ---------------------------------------------------------------------------- */
/* --------------------------------- HEADER ----------------------------------- */
/* ---------------------------------------------------------------------------- */


.header {
	display: flex;
	position: relative;
	justify-content: center;
	align-items: center;
	height: 56px;
	font-size: 16px;
	z-index: 1;
}


/* ---------------------------------------------------------------------------- */
/* ------------------------------------- MAIN --------------------------------- */
/* ---------------------------------------------------------------------------- */


.main {
	display: flex;
	position: relative;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex-grow: 1;
	background-color: var(--day-light-1-color);
}


/* ---------------------------------------------------------------------------- */
/* ----------------------------------- BUTTON --------------------------------- */
/* ---------------------------------------------------------------------------- */


.reset{
	display: inline-block;
	position: relative;
	font-size: 16px;
	font-weight: 300;
	letter-spacing: 1pt;
	height: 40px;
	width: 104px;
	margin-bottom: 32px;
	outline: none;
	color: var(--day-medium-color);
	border: 1px solid var(--day-medium-color);
	border-radius: 20px;
	transition-duration: 0.4s;
	cursor: pointer;
}

.reset:hover {
	color: var(--blue-color);
	border-color: var(--blue-color);
}


/* ---------------------------------------------------------------------------- */
/* -------------------------------- svg-container ----------------------------- */
/* ---------------------------------------------------------------------------- */


.svg-container {
	display: flex;
	position: relative;
	justify-content: center;
	align-items: center;
	width: 400px;
	height: 400px;
	border-radius: 8px;
	background-color: var(--day-color);
	box-shadow: 0 8px 56px rgba(110, 113, 119, 0.2);
	border: 1px solid var(--day-light-color);
}

.svg-container__field {
	display: flex;
	position: relative;
	justify-content: center;
	align-items: center;
	width: 336px;
	height: 336px;
	background: url(../img/pattern-square.svg) repeat;
}


/* ---------------------------------------------------------------------------- */
/* ----------------------------------- PATH ----------------------------------- */
/* ---------------------------------------------------------------------------- */


.path {
	font-weight: 400;
	font-size: 16px;
	color: var(--day-medium-text-span-color);
	margin-top: 32px;
}


/* ---------------------------------------------------------------------------- */
/* ----------------------------------- FOOTER --------------------------------- */
/* ---------------------------------------------------------------------------- */


.footer {
	display: flex;
	position: relative;
	justify-content: center;
	align-items: center;
	min-height: 56px;
	font-weight: 400;
	font-size: 16px;
	color: var(--day-medium-text-color);
	background-color: var(--day-light-1-color);
}